---
---

{% include head.html %}

<body class="cascade">
<div class="row pad-0" style="max-width:950px;">
	<img class="disp-bl mar-x-auto" src="https://j-james.me/htmlstuck/assets/header_cascade.gif" alt="Blinking 10:25 clock on The Tumor">
</div>

{% include header.html %}

<div class="pos-r">
	<div class="row bg-cascade-dark-gray pad-0 pos-r">
		<div id="content_container" class="mar-x-auto disp-bl bg-cascade-dark-gray" style="max-width:950px;">
			<div class="pad-t-md">
				<div class="type-center">
					<div class="max-x-auto" style="max-width:956px;">
						<div id="o_no-flash" class="disp-n"></div>
						<div id="o_flash-container" class="pos-r" style="width:100%;height:0;padding-top:68.42105263157895%;">
							<div class="ar-inner">
								<embed src="https://j-james.me/htmlstuck/flashes/cascade.swf" quality="high" width="100%" height="100%" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row bg-cascade-dark-gray pad-b-md pad-b-lg--md pos-r">
		<div class="mar-x-auto disp-bl bg-cascade-dark-gray pad-t-lg" style="max-width:650px;">
			{% include footer.html %}
		</div>
	</div>
</div>

{% include site-footer.html %}

<style>.bg-dark-gray {background-color: #000;}</style>

</body>
