<footer id="story-footer" role="banner">
<div id="story_footer_container" class="o_story-page-footer flex pad-t-0 pad-x-0 flex-justify">
		<div class="pad-l-lg--md mar-b-md type-hs-small type-hs-bottom--md type-center type-left--md">
		<ul class="o_game-nav">
			<li class="o_game-nav-item">
				<a id="o_start-over" href="https://homestuck.com/story/1">Start Over</a>
			</li>
			<li class="o_game-nav-item">
				<a href="https://homestuck.com/story/1">Go Back</a>
			</li>
		</ul>
		</div>
		<nav id="gamenav-container" data-gamenav-state="closed" role="navigation" class="o_gamenav-container">
		<a href="javascript:void(0)" data-gamenav-close="" class="nav-btn color-black pad-y-rg type-rg" style="text-decoration:none;"><i class="icon-close"></i><span>Dismiss</span></a>
		<ul class="o_game-nav pad-r-lg--md o_game-options">
			<li class="o_game-nav-item">
				<a href="javascript:Gamenav.saveGame('story', 1);">Save Game</a>
				<i class="icon-tool-tip tooltip-target" data-tooltip="" aria-haspopup="true" title="If you have cookies enabled, you can save your spot in the story. Click &quot;Save Game&quot;, then when you return to the site, click &quot;Load Game&quot; to return to where you were.">
				</i>
			</li>
			<li class="o_game-nav-item">
				<a href="javascript:Gamenav.autoSaveGame();">Auto-Save!</a>
				<i class="icon-tool-tip tooltip-target" data-tooltip="" aria-haspopup="true" title="If you have cookies enabled, click this to automatically save your spot in the story wherever you go! When you return to the site later, it will automatically take you to where you left off. Pretty neat!
					If this mode ever gets annoying though, remember you can just delete the cookies by clicking &quot;Delete Game Data&quot;.">
				</i>
			</li>
			<li class="o_game-nav-item">
				<a href="javascript:Gamenav.loadGame();">Load&nbsp;Game</a>
			</li>
			<li class="o_game-nav-item">
				<a href="javascript:Gamenav.deleteGame();">Delete Game Data</a>
			</li>
		</ul>
	</nav>
	<a href="javascript:void(0)" data-gamenav-open="" class="nav-btn nav-btn--center type-hs-small mar-b-md" style="text-decoration:none; text-transform: none; font-size:14px; line-height:14px;"><span>Options</span> <i class="icon-menu" style="margin:0;"></i></a>
</div>
</footer>
