<head>
	<!-- <script src="https://js-agent.newrelic.com/nr-1167.min.js"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" type="text/javascript" src="https://www.googletagservices.com/tag/js/gpt.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>j-james | htmlstuck</title>
	<meta name="description" content="A tale about a boy and his friends and a game they play together. About 8,000 pages. Don't say we didn't warn you.">
	<!-- <link rel="canonical" href="/story/2393"> -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}{% link assets/apple-touch-icon.png %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}{% link assets/favicon-32x32.png %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}{% link assets/favicon-16x16.png %}">
	<link rel="mask-icon" href="{{ site.baseurl }}{% link assets/safari-pinned-tab.svg %}" color="#6bbe4a">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{{ site.baseurl }}{% link css/kek1uwn.css %}">
	<link rel="stylesheet" media="all" href="{{ site.baseurl }}{% link css/main.css %}">
</head>
