<header id="site-header" role="banner">
	<div id="header-container" class="o_story-page-header row flex pad-t-0 ">
		<a href="javascript:void(0)" data-nav-open="" class="nav-btn nav-btn--center color-white" style="overflow-wrap:normal;text-decoration:none;"><i class="icon-menu"></i><span>Menu</span></a>
		<nav id="nav-container" data-nav-state="closed" role="navigation" class="o_nav-container">
			<a href="javascript:void(0)" data-nav-close="" class="nav-btn color-white pad-y-rg type-rg" style="overflow-wrap:normal;text-decoration:none;"><i class="icon-close"></i><span>Dismiss</span></a>
			<ul id="primary-nav" class="o_primary-nav style-caps weight-bold disp-ib color-white type-rg">
				<li class="o_primary-nav-item slide-candycorn div-candycorn"><a class="o_primary-nav-link" style="color:#29ff4a" href="https://htmlstuck.com/index.html">HOME</a></li>
				<li class="o_primary-nav-item slide-candycorn pipe"><a class="o_primary-nav-link" style="color:#39d5f6" href="https://homestuck.com/stories">READ</a></li>
				<li class="o_primary-nav-item slide-candycorn div-candycorn"><a class="o_primary-nav-link" style="color:#39d5f6" href="https://homestuck.com/info-story">INFO</a></li>
				<li class="o_primary-nav-item slide-candycorn pipe"><a class="o_primary-nav-link" style="color:#f7f72a" href="https://homestuck.com/info-shop">SHOP</a></li>
				<li class="o_primary-nav-item slide-candycorn div-candycorn"><a class="o_primary-nav-link" style="color:#f7f72a" href="https://homestuck.com/info-games">GAMES</a></li>
				<li class="o_primary-nav-item slide-candycorn pipe"><a class="o_primary-nav-link" style="color:#ffb529" href="https://homestuck.com/news">NEWS</a></li>
				<li class="o_primary-nav-item slide-candycorn"><a class="o_primary-nav-link" style="color:#ffb529" href="https://homestuck.com/info-more">MORE</a></li>
			</ul>
		</nav>
		<div id="site-search" class="o_site-search disp-ib">
			<form action="https://homestuck.com/search" method="GET">
				<input name="search" type="search" class="o_search-ac o_site-search-field" placeholder="" autocomplete="off">
				<button class="o_site-search-btn"><i class="icon-search"></i></button>
			</form>
		</div>
	</div>
</header>
