<div class="o_site-footer row pos-r pad-t-rg bg-dark-gray">
	<div class="float-l"><img src="https://j-james.me/htmlstuck/assets/footer-logo.gif" alt="Footer logo"><br></div>
	<div class="float-r disp-n disp-bl--sm"><img src="https://j-james.me/htmlstuck/assets/footer-logo.gif" alt="Footer logo"><br></div>
	<div class="type-center pad-t-md--md">
	<ul>
		<li><a href="https://homestuck.com/contacts">Contacts</a></li>
		<li><a href="https://homestuck.com/privacy">Privacy Policy</a></li>
	</ul>
	<div><span style="white-space:nowrap;">© 2018 Homestuck</span> <span style="white-space:nowrap;">and VIZ Media</span></div>
	</div>
</div>
<div id="overlay" data-overlay-state="off" class="o_overlay"></div>
<div id="game_overlay" data-game-overlay-state="off" class="o_game-overlay"></div>
<div id="overlay_wait" data-overlay-state="off" class="o_overlay-wait"></div>
